.hero-heading {
    font-size: 54px;
    margin-bottom: 2.5rem;
    line-height: 65px;
}

.star-icon {

    margin-right: 5px;
    margin-left: 5px;
    color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.marquee {
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;
    color: #fff;
}

.mrg20{
    margin-right: 20px;
}

.adm-text {
    color: #fff;
}

.school-theme-color1 {
    background: #F5F5DC;
}

.school-theme-color2 {
    background: #6443fc1f;
}


.white-color {
    background: #fff;
}

.white-color-icon {
    color: #fff;
}

/* .about-sec2 .sec-title {
    font-size: 39px;
} */

.sec-title {
    line-height: 1.2;
    margin-bottom: 2.5rem;
    font-weight: 700;
    position: relative;
}

.img-border {
    border: 8px rgba(135, 194, 235, 0.15) solid;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.19);
    outline: none;
}

.line-heigth {
    line-height: 40px;
}

@media (min-width: 1200px) {

    .display-5,
    .product-details-tab ul.nav-tabs li .nav-link,
    .sub-title,
    .widget-title {
        font-size: 20px;
    }
}


.ser-icon {
    color: #fff;
    font-size: 30px;
}

.course-entry .sub-title {
    margin: .6rem 0 1rem;
    line-height: 1.5;
}


.labs-heading {
    font-size: 2.5rem;
}

.course-sec .swiper-slide {
    width: 40rem;
}

@media screen and (max-width: 480px) {
    .course-sec .swiper-slide {
        width: 23.75rem;
    }

    .pricing-card .card-head .h2,
    .pricing-card .card-head h2 {
        font-size: 2rem;
    }

    .hero-heading {
        font-size: 32px;
        margin-bottom: 2.5rem;
        line-height: 44px;
    }

    .call-us{
        display: none;
    }
}


.mb-20 {
    margin-top: 20px;
}

.mt-20 {
    margin-bottom: 20px;
}

.list-black {
    color: #000;
    list-style: none;
    line-height: 36px;
    margin-left: -22px;
    font-size: 16px;
}

.f-14{
    font-size: 14px;
}


.pur-color {
    color: #6045ff;
}

.txt-center {
    text-align: center;
}

.why-choose-icon {
    background: var(--secondary);
    border-radius: 44px;
}

.pricing-card {
    padding: 20px 20px 20px 20px;
}

.bg-shade {
    --bs-bg-opacity: 1;
    background-color: rgb(255 255 255) !important;
}

.pd-50 {
    padding-top: 30px;
}

.plan-title {
    font-size: 30px;
}

.pd-74 {
    padding-bottom: 74px;
}

.btn-primary-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary);
    --bs-btn-hover-border-color: var(--secondary);
    --bs-btn-focus-shadow-rgb: 120, 97, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--secondary);
    --bs-btn-active-border-color: var(--secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--secondary);
    --bs-btn-disabled-border-color: var(--secondary);
}


.school-class-list{
    list-style: none;
    padding: 30px;
    line-height: 68px;
    font-size: 27px;
}

.single-entry .entry-content {
    position: absolute;
    background-color: var(--white);
    padding: 1.875rem 1.25rem 1.25rem 2.1875rem;
    max-width: calc(100% - 1rem);
    left: 0;
    bottom: -1.5625rem;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}